[Unit]
Description=PXVIRT SPDK Service
After=pvestatd.service
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
User=root
Environment=HUGEMEM=2024
ExecStart=/usr/bin/vhost -S /var/tmp -s $HUGEMEM -m 0x3
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target